shelfname|interface|portoperationalstate|protocol|info1
{% for item in range(var_atn|length) %}
{{inventory_hostname}}|{{var_atn[item].PORT}}|{{var_atn[item].STATUS}}|{{var_atn[item].PROTOCOL}}|{{var_atn[item].DESCRIP | regex_replace('\|') | regex_replace('\s\s\s\s\s+')}}
{% endfor %}


